<div id="main">
    <form action="" method="">
        <div class="search_add">
        </div>
        <div class="text_info clearfix"><span>机构名称：</span></div>
        <div class="input_info">
            <input type="text" ng-model="orgName" />
            <span class="required">*</span>
        </div>
        <div class="button_info clearfix">
            <input type="button" value="创建" class="btn_save" ng-click="addOrg()" />
            <input type="button" value="返回" class="btn_save" onclick="javascript:history.go(-1)" />
        </div>
    </form>
</div>