<div id="main">
    <form action="" method="">
        <div class="search_add">
        </div>
        <div class="text_info clearfix"><span>机构名称：</span></div>
        <div class="input_info">
            <input type="text" ng-model="org_id"/>
            <span class="required">*</span>
        </div>
        <div class="text_info clearfix"><span>上传文件：</span></div>
        <div class="input_info">
            <input type="file" file-model="files"/>
            <span class="required">*</span>
        </div>
        <div class="button_info clearfix">
            <input type="button" value="导入" class="btn_save" ng-click="addCls()"/>
            <input type="button" value="返回" class="btn_save" onclick="javascript:history.go(-1)" />
        </div>
        <div ng-bind="rsmsg" class="save_success"></div>
    </form>
</div>